
<div class="row" ng-controller="DashboardController as dashboardCtrl">
	<div class="col-lg-5 col-md-6">
		<div class="row">
			<div class="col-xs-12 no-padding">
				<div class="card">
					<div class="card-header">
						<div class="card-title">
							<div class="title">
								<i class="fa fa-bank"></i> Account Overview
							</div>
							<div class="description"></div>
						</div>

					</div>

					<div class="card-body" style="padding-bottom: 0">
						<div class="row">
							<div class="col-xs-12" style="padding-bottom: 0px;">
								<ul class="list-group" style="margin-bottom: 0">
									<li class="list-group-item">Account Balance: <span
										class="badge" style="color: #000; background: #fff;">$231,422.12</span>
									</li>
									<li class="list-group-item">Invested: <span class="badge"
										style="color: #000; background: #fff;">$131,422.12</span>
									</li>
									<li class="list-group-item">Cash: <span class="badge"
										style="color: #000; background: #fff;">$100,000.00</span>
									</li>
									<li class="list-group-item"
										style="height: 50px; line-height: 30px;">Trading Status:
										<span class="badge" style="color: #000; background: #fff;"><input
											type="checkbox" class="toggle-checkbox"
											name="hstry-invest-type" id="hstry-invest-type"
											data-on-text="ON" data-on-color="success" data-off-text="OFF"
											data-off-color="danger" checked>
									</span>
									</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<!--
						                                   <canvas id="pie-chart" class="chart" width="2" height="285" style="width: 2px; height: 285;"></canvas>
						-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<div class="title">
							<i class="fa fa-history"></i> Trade History
						</div>
						<div class="description"></div>
					</div>
					<div class="pull-right card-action">
						<div class="btn-group" role="group" aria-label="...">
							Date Range <select>
								<option value="AK">Today</option>
								<option value="HI">Week</option>
								<option value="SC">Month</option>
								<option value="VT">YTD</option>
								<option value="VA">Year</option>
								<option value="WV">Custom Date</option>
							</select>
						</div>
					</div>
				</div>
				<div class="card-body no-padding">
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Entry <i class="fa fa-usd"></i>
								</th>
								<th>Entry <i class="fa fa-clock-o"></i>
								</th>
								<th>Exit <i class="fa fa-usd"></i>
								</th>
								<th>Exit <i class="fa fa-clock-o"></i>
								</th>
								<th>Size</th>
								<th>Type</th>
								<th>P/L <i class="fa fa-usd"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>EUR/USD</td>
								<td class="success">$1.12432</td>
								<td class="success">2016-03-11 03:45:40</td>
								<td class="success">$1.16432</td>
								<td class="success">2016-03-11 03:45:40</td>
								<td class="success">10,000</td>
								<td class="success">Buy</td>
								<td class="success">$4,000.00</td>
							</tr>
							<tr>
								<td>GBP/USD</td>
								<td class="success">$1.12432</td>
								<td class="success">2016-03-11 03:45:40</td>
								<td class="success">$1.16432</td>
								<td class="success">2016-03-11 03:45:40</td>
								<td class="success">10,000</td>
								<td class="success">Sell</td>
								<td class="success">$4,000.00</td>
							</tr>
							<tr>
								<td>USD/JPY</td>
								<td class="danger">$1.12432</td>
								<td class="danger">2016-03-11 03:45:40</td>
								<td class="danger">$1.16432</td>
								<td class="danger">2016-03-11 03:45:40</td>
								<td class="danger">10,000</td>
								<td class="danger">Sell</td>
								<td class="danger">($4,000.00)</td>
							</tr>
							<tr>
								<td>NZD/USD</td>
								<td class="success">$1.12432</td>
								<td class="success">2016-03-11 03:45:40</td>
								<td class="success">$1.16432</td>
								<td class="success">2016-03-11 03:45:40</td>
								<td class="success">10,000</td>
								<td class="success">Buy</td>
								<td class="success">$4,000.00</td>
							</tr>
							<tr>
								<td>EUR/GBP</td>
								<td class="danger">$1.12432</td>
								<td class="danger">2016-03-11 03:45:40</td>
								<td class="danger">$1.16432</td>
								<td class="danger">2016-03-11 03:45:40</td>
								<td class="danger">10,000</td>
								<td class="danger">Buy</td>
								<td class="danger">($4,000.00)</td>
							</tr>
							<tr>
								<td>EUR/CHF</td>
								<td class="success">$1.12432</td>
								<td class="success">2016-03-11 03:45:40</td>
								<td class="success">$1.16432</td>
								<td class="success">2016-03-11 03:45:40</td>
								<td class="success">10,000</td>
								<td class="success">Buy</td>
								<td class="success">$4,000.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="card">
				<div class="card-header" style="border-top: 1px grey solid;">
					<div class="card-title">
						<div class="row">

							<div
								class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right title text-right">Total
								Realized Profit / Loss</div>
							<div
								class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right title text-right"
								style="color: green;">$124,652.31</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-7 col-md-6">

		<div class="row">
			<div class="col-xs-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">
							<div class="title">Current Positions</div>
						</div>
						<div class="pull-right card-action">
							<button type="button" class="btn btn-danger" data-toggle="modal"
								data-target="#modalLiquidateAll">Liquidate Positions</button>

						</div>
					</div>

					<div class="card-body no-padding">
						<div role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home"
									aria-controls="home" role="tab" data-toggle="tab">GBP/USD</a>
								</li>
								<li role="presentation"><a href="#profile"
									aria-controls="profile" role="tab" data-toggle="tab">EUR/USD</a>
								</li>
								<li role="presentation"><a href="#messages"
									aria-controls="messages" role="tab" data-toggle="tab">USD/JPY</a>
								</li>
								<li role="presentation"><a href="#settings"
									aria-controls="settings" role="tab" data-toggle="tab">USD/NZD</a>
								</li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
											Investment Type:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6">
											<input type="checkbox" class="toggle-checkbox"
												name="hstry-invest-type" id="hstry-invest-type"
												data-on-text="Buy" data-on-color="success"
												data-off-text="Sell" data-off-color="danger" disabled>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Entry
											Date / Time:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 ">
											<strong>2016-03-11 03:45:40</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Entry
											Price:</div>
										<div class="col-lg-10 ol-md-6 col-sm-6 col-xs-6 ">
											<strong>$1.11234</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Lot
											Size:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 ">
											<strong>10,000</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">
											Realized Profit / Loss:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 "
											style="color: green; font-weight: bold;">
											<strong>$23,231.12</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">
											<button type="button" class="btn btn-warning"
												data-toggle="modal" data-target="#modalLiquidate">Exit
												Position</button>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="profile">
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
											Investment Type:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6">
											<input type="checkbox" class="toggle-checkbox"
												name="hstry-invest-type" id="hstry-invest-type"
												data-on-text="Buy" data-on-color="success"
												data-off-text="Buy" data-off-color="success" disabled>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Entry
											Date / Time:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 ">
											<strong>2016-03-11 03:45:40</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Entry
											Price:</div>
										<div class="col-lg-10 ol-md-6 col-sm-6 col-xs-6 ">
											<strong>$1.11234</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Lot
											Size:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 ">
											<strong>10,000</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">
											Realized Profit / Loss:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 "
											style="color: green; font-weight: bold;">
											<strong>$23,231.12</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">
											<button type="button" class="btn btn-warning"
												data-toggle="modal" data-target="#modalLiquidate">Exit
												Position</button>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="messages">
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
											Investment Type:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6">
											<input type="checkbox" class="toggle-checkbox"
												name="hstry-invest-type" id="hstry-invest-type"
												data-on-text="Buy" data-on-color="success"
												data-off-text="Buy" data-off-color="success" disabled>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Entry
											Date / Time:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 ">
											<strong>2016-03-11 03:45:40</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Entry
											Price:</div>
										<div class="col-lg-10 ol-md-6 col-sm-6 col-xs-6 ">
											<strong>$1.11234</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Lot
											Size:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 ">
											<strong>10,000</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">
											Realized Profit / Loss:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 "
											style="color: green; font-weight: bold;">
											<strong>$23,231.12</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">
											<button type="button" class="btn btn-warning"
												data-toggle="modal" data-target="#modalLiquidate">Exit
												Position</button>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="settings">
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
											Investment Type:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6">
											<input type="checkbox" class="toggle-checkbox"
												name="hstry-invest-type" id="hstry-invest-type"
												data-on-text="Buy" data-on-color="success"
												data-off-text="Sell" data-off-color="danger" disabled>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Entry
											Date / Time:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 ">
											<strong>2016-03-11 03:45:40</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Entry
											Price:</div>
										<div class="col-lg-10 ol-md-6 col-sm-6 col-xs-6 ">
											<strong>$1.11234</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">Lot
											Size:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6 ">
											<strong>10,000</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">
											Realized Profit / Loss:</div>
										<div class="col-lg-10 col-md-6 col-sm-6 col-xs-6"
											style="color: green; font-weight: bold;">
											<strong>$23,231.12</strong>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 ">
											<button type="button" class="btn btn-warning"
												data-toggle="modal" data-target="#modalLiquidate">Exit
												Position</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-header" style="border-top: 1px grey solid;">
						<div class="card-title row">

							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 title">Total
								Unrealized Profit / Loss</div>
							<div
								class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right title text-right"
								style="color: green;">$124,652.31</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<!-- MODALS -->
<div class="modal fade modal-danger" id="modalLiquidate" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">x</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Exit Position</h4>
			</div>
			<div class="modal-body">You are about to liquidate your
				position in the GBP/USD pair. Are you sure?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger">Confirm</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade modal-danger" id="modalLiquidateAll"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">x</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Liquidate All
					Positions</h4>
			</div>
			<div class="modal-body">You are about to liquidate ALL of your
				positions. Are you sure?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger">Confirm</button>
			</div>
		</div>
	</div>
</div>
